language: node_js
node_js:
  - 7.10.0

branches:
  only:
  - master

addons:
  firefox: "latest"

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - yarn run travis-test
