@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.btn:active, .btn:active:focus, .btn:focus {
  outline: 0;
}

mark {
  background: #f1f1f1;
  border-radius: 4px;
  padding: 3px 5px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
body p {
  font-size: 13px;
}
body .hljs {
  border-radius: 5px;
}
body .cover .demo {
  padding: 15px;
}
body .cover .content {
  padding: 15px 15px 20px;
  border-left: 1px solid #ddd;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}